Babel==2.13.1
Django==4.2.10
Flask==3.0.0
GitPython==3.1.43
Jinja2==3.1.2
Mako==1.3.0
Markdown==3.5.1
MarkupSafe==2.1.3
Pillow==10.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5==5.15.10
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.16.1
QtPy==2.4.1
SQLAlchemy==2.0.23
ViTables==3.0.3
Werkzeug==3.0.1
aiofiles==23.2.1
alembic==1.13.0
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
asgiref==3.7.2
asttokens==2.4.1
attrs==23.2.0
beautifulsoup4==4.12.2
blinker==1.7.0
blosc2==2.3.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
colorlog==6.8.0
comm==0.1.4
contourpy==1.2.0
coomer_xtractor==0.0.12
cycler==0.12.1
decorator==5.1.1
distro==1.8.0
docker-pycreds==0.4.0
executing==2.0.1
fake-useragent==1.3.0
filelock==3.13.4
fonttools==4.46.0
fsspec==2024.3.1
gensim==4.3.2
ghp-import==2.1.0
gitdb==4.0.11
greenlet==3.0.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.2
httpx==0.25.2
idna==3.4
intel-openmp==2021.4.0
ipdb==0.13.13
ipython==8.17.2
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.19.1
jieba==0.42.1
joblib==1.3.2
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
libpython==0.2
lightgbm==4.1.0
lxml==4.9.3
matplotlib-inline==0.1.6
matplotlib==3.8.2
mergedeep==1.3.4
mkdocs-material-extensions==1.3.1
mkdocs-material==9.4.14
mkdocs==1.5.3
mkl==2021.4.0
mpmath==1.3.0
msgpack==1.0.7
ndindex==1.7
networkx==3.3
numexpr==2.8.7
numpy==1.26.1
openai==1.3.5
optuna==3.4.0
outcome==1.3.0.post0
packaging==23.2
paginate==0.5.6
pandas==2.1.4
parso==0.8.3
pathspec==0.11.2
pip==24.0
platformdirs==4.0.0
prompt-toolkit==3.0.39
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
py-cpuinfo==9.0.0
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pymdown-extensions==10.5
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyyaml_env_tag==0.1
regex==2023.10.3
requests==2.31.0
scikit-learn==1.3.2
scipy==1.11.3
selenium==4.16.0
sentry-sdk==2.0.1
setproctitle==1.3.3
setuptools==69.0.2
six==1.16.0
sklearn==0.0.post11
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
sympy==1.12
tables==3.9.2
tbb==2021.12.0
threadpoolctl==3.2.0
torch==2.3.0
tqdm==4.66.1
traitlets==5.13.0
trio-websocket==0.11.1
trio==0.24.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
wandb==0.16.6
watchdog==3.0.0
wcwidth==0.2.9
widgetsnbextension==4.0.9
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0